---
import site from "@/config/site";
import { Image } from "astro:assets";

interface Props {
  isWriting?: boolean;
}
const { isWriting = false } = Astro.props;
---

<div
  class:list={[
    "mb-6 flex items-center gap-4 md:mb-10",
    isWriting && "md:flex-col md:items-center md:gap-2",
  ]}
>
  <div
    class="flex h-14 w-14 shrink-0 overflow-hidden rounded-full border-2 border-primary/10"
    transition:name="brand-logo"
  >
    <Image
      loading={"eager"}
      src={site.meta.logo}
      alt={"Site logo"}
      width={56}
      height={56}
      class="h-full w-full object-cover"
    />
  </div>
  <div class:list={[isWriting && "md:text-center"]}>
    <h1
      data-pagefind-ignore
      class:list={[
        "font-bold tracking-tight text-foreground",
        isWriting ? "text-lg md:text-sm" : "text-lg md:text-xl",
      ]}
    >
      {site.meta.title}
    </h1>
  </div>
</div>
